/*w:    medium devices */
@media (max-width: 996px) {
  .ul-container {
    gap: 0;
  }
  .story-section {
    padding: 20px;
  }
  .stories-card-container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    justify-items: center;
  }
  #story-card-1 {
    grid-row: auto;
    display: none;
  }
  /*w: curriculum section */
  .curriculum-card-container {
    flex-direction: column-reverse;
  }
  /*w: footer section  */
  footer {
    padding: 55px 50px;
    color: white;
    background: #01acfd;
    gap: 30px;
  }
}

/*w: small devices  */

@media (max-width: 576px) {
  /*w: nav section nav  */
  nav {
    border-bottom: 2px solid gray;
  }
  nav img {
    margin-bottom: 3px;
  }
  nav h2 {
    display: none;
  }

  /* Hide default menu */
  .ul-container {
    display: none;
  }

  .bars {
    display: block;
    margin-right: 25px;
  }
  .bar-container:hover .ul-container {
    display: block;

    flex-direction: column;
  }
  .bar-container:hover .bars {
    display: none;
  }
  .bar-container:hover ul {
    flex-direction: column;
  }
  /*w: banner section  */
  .banner {
    flex-direction: column-reverse;
    gap: 0.52rem;
  }
  .banner-infos {
    text-align: center;
  }
  .banner-infos h2 {
    font-size: 2rem;
    font-weight: 700;
  }
  /*w: curriculum section  */
  .curriculum-card-container {
    flex-direction: column-reverse;
  }
  /*w: story section  */
  .story-section {
    padding: 0.5rem;
  }
  .stories-card-container {
    grid-template-columns: repeat(1, 1fr);
  }
  #story-card-1 {
    display: none;
  }
  .footer-section {
    flex-direction: column;
    padding: 30px;

    gap: 10px;
    border: 1px solid red;
  }
  .touch h2 {
    margin-top: 0;
    margin-bottom: 0;
  }
}
