/*w: nav styles */
header {
  margin-top: 5px;
}

nav {
  justify-content: space-between;
}
.bars {
  display: none;
}
nav img {
  max-width: 2.93rem;
  max-height: 2.93rem;
}
nav h2 {
  margin-left: 10px;
  font-size: 25px;
}
nav ul li {
  list-style: none;
  margin-right: 20px;
}
nav ul li a {
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
}
.ul-container {
  justify-content: space-between;
  gap: 11.62rem;
}

/*w: banner section styles */
.banner {
  gap: 5.25rem;
  padding: 2rem;
  border-radius: 5px;
  justify-content: space-between;
}
.banner-img {
  max-width: 25.25rem;
}
.banner-img img {
  max-width: 100%;
}

.banner-infos {
  /* max-width: 640px; */
}
.banner-infos h2 {
  font-size: 4.2rem;
}

.banner-infos p {
  font-size: 20px;
}
